<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AirlineMgmtSystemClient</display-name>
  <!--welcome-file-list>
    <welcome-file>JSP/index.html</welcome-file>
  </welcome-file-list -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <!--welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file -->
  </welcome-file-list>
  <servlet>
    <servlet-name>MyReservationsServlet</servlet-name>
    <servlet-class>servlets.MyReservationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyReservationsServlet</servlet-name>
    <url-pattern>/servlets/MyReservationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FlightInfo</servlet-name>
    <servlet-class>servlets.FlightInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightInfo</servlet-name>
    <url-pattern>/servlets/FlightInfo</url-pattern>
</servlet-mapping>
   <servlet>
    <servlet-name>BeginReservationServlet</servlet-name>
    <servlet-class>servlets.BeginReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginReservationServlet</servlet-name>
    <url-pattern>/servlets/BeginReservationServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ReservationTravellerInfoServlet</servlet-name>
    <servlet-class>servlets.ReservationTravellerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationTravellerInfoServlet</servlet-name>
    <url-pattern>/servlets/ReservationTravellerInfoServlet</url-pattern>
</servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlets/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
   <description></description>
   <display-name>Purchase</display-name>
   <servlet-name>Purchase</servlet-name>
   <servlet-class>Purchase</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>Purchase</servlet-name>
   <url-pattern>/Purchase</url-pattern>
 </servlet-mapping>
 <servlet>
   <description></description>
   <servlet-name>listservlet</servlet-name>
   <servlet-class>servlets.listservlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>listservlet</servlet-name>
   <url-pattern>/servlets/listservlet</url-pattern>
 </servlet-mapping>
 <servlet>
   <description></description>
   <servlet-name>UpdateFlight</servlet-name>
   <servlet-class>servlets.UpdateFlight</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>UpdateFlight</servlet-name>
   <url-pattern>/servlets/UpdateFlight</url-pattern>
 </servlet-mapping>
   <display-name>LoginServiceClient</display-name>
  <servlet>
    <description></description>
    <display-name>LoginFormHandler</display-name>
    <servlet-name>LoginFormHandler</servlet-name>
    <servlet-class>com.att.ws.services.LoginFormHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFormHandler</servlet-name>
    <url-pattern>/LoginFormHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilingFormHandler</display-name>
    <servlet-name>ProfilingFormHandler</servlet-name>
    <servlet-class>com.att.ws.services.ProfilingFormHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilingFormHandler</servlet-name>
    <url-pattern>/ProfilingFormHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileFormHandler</display-name>
    <servlet-name>UpdateProfileFormHandler</servlet-name>
    <servlet-class>com.att.ws.services.UpdateProfileFormHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileFormHandler</servlet-name>
    <url-pattern>/UpdateProfileFormHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAllCustomers</display-name>
    <servlet-name>SearchAllCustomers</servlet-name>
    <servlet-class>com.att.ws.services.SearchAllCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAllCustomers</servlet-name>
    <url-pattern>/SearchAllCustomers</url-pattern>
  </servlet-mapping>
</web-app>